
{% extends 'blog/base.html' %}
{% block content %}
    

    
<h1>Blog</h1>
<div class="row">
    {% for post in posts %}
        <div  class="col-6">
            
                <a class="title" href="{% url 'detail' post.id%}">{{post.title}}</a>
                <p>{{post.date}}</p>
                <p>{{post.description}}</p>

                
                {% if post.link %}
                
                    <a href="{{post.link}}" target="_blank"><img src="{{post.image.url}}"></a>  
                
                {% else %}

                    <img src="{{post.image.url}}">
                    
                {% endif %}
            
        </div>
    {% endfor %}
</div>




{% endblock content %}

